:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree";
}

.header {
  display: grid;
  justify-items: center;
  gap: 59px;
  max-width: 1878px;
  padding: 0 51px;
  margin: auto;
  margin-bottom: 150px;
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
}

.logo {
  padding-top: 120px;
}

.header__content {
  text-align: center;
}

.heading {
  color: var(--dark-grayish-blue);
  font-size: 45px;
  letter-spacing: -0.75px;
  padding-bottom: 20px;
}

.subheading {
  max-width: 700px;
  font-size: 19px;
  padding-bottom: 40px;
  letter-spacing: 0.15;
  font-weight: 400;
  color: var(--grayish-blue);
}

.btn {
  padding: 10px 30px;
  outline: none;
  color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.15;
  font-size: 18px;
  text-decoration: none;
}

.ios {
  background-color: var(--strong-cyan);
  margin-right: 10px;
}

.mac {
  background-color: var(--light-blue);
}

/* mid section */
.sub {
  margin: auto;
  max-width: 700px;
}

.sub-shrink {
  margin: auto;
  max-width: 300px;
}

.mid {
  max-width: 1878px;
  text-align: center;
  padding: 0 51px;
}

.mid-heading {
  font-size: 32px;
}

.second-main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: -150px;
}

.second-main img {
  margin-left: -70px;
  margin-right: 100px;
}

.second-main-content {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.second-main-heading {
  color: var(--dark-grayish-blue);
  margin-bottom: 10px;
}

.second-main-text {
  font-weight: 400;
  color: var(--grayish-blue);
}

.third {
  max-width: 1878px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.fourth {
  max-width: 1878px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 50px 0 50px;
}

.card {
  width: 350px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card img {
  padding-bottom: 20px;
}

.card-heading {
  color: var(--dark-grayish-blue);
  font-size: 20px;
  font-weight: 600;
}

.card-text {
  font-weight: 400;
  color: var(--grayish-blue);
}

.sponsors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px 70px;
}

/* media queries */
@media screen and (max-width: 1050px) {
  .second-main {
    margin-top: 30px;
    margin-left: 0;
  }

  .second-main img {
    margin-left: -30px;
    width: 560px;
    padding-bottom: 50px;
  }

  .second-main-content {
    text-align: center;
  }

  .second-main-content-text {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 960px) {
  .second-main {
    margin-top: 50px;
    align-items: center;
    margin-left: 0;
    justify-content: center;
    flex-direction: column;
  }

  .second-main img {
    margin-left: auto;
    margin-right: auto;
  }

  .third img {
    width: 560px;
  }

  .sponsors img {
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .cards {
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px;
  }

  .sponsors {
    flex-direction: column;
    justify-content: space-around;
    height: 1000px;
  }

  .sponsors img {
    width: auto;
  }
}

@media screen and (max-width: 635px) {
  .second-main {
    margin-top: 50px;
    align-items: center;
    margin-left: 0;
    justify-content: center;
    flex-direction: column;
  }

  .second-main img {
    margin-left: auto;
    margin-right: auto;
    width: 460px;
  }

  .third img {
    width: 460px;
  }
}
@media screen and (max-width: 540px) {
  .download {
    display: flex;
    flex-direction: column;
  }

  .ios {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .second-main img {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
  }

  .second-main-content {
    padding: 30px;
  }

  .third img {
    width: 360px;
  }

  .cards {
    padding: 0 100px;
  }
}
@media screen and (max-width: 400px) {
  .second-main img {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
  }

  .third img {
    width: 260px;
  }
}
